registry=http://mirrors.tools.huawei.com/npm/
strict-ssl=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

disturl=http://mirrors.tools.huawei.com/nodejs
sass_binary_site=https://mirrors.tools.huawei.com/node-sass/
electron_mirror=http://mirrors.tools.huawei.com/electron/
